<html>
    <head>
      {% if title %}
        <title>{{ title }} - Home</title>
      {% else %}
        <title>Welcome to my example</title>
      {% endif %}
	  <link rel="stylesheet" type="text/css" href="static/style.css">
	  <script src="static/plotly-latest.min.js"></script>
	  
	  
    </head>
    <body>
        
        {% block content %}{% endblock %}
    </body>
	<script>
	{% if plot == 'state' %}
		var data = [{
			  y:  {{ data.counts|tojson|safe }},
			  x:  {{ data.states|tojson|safe }},
			  type: 'bar'
			}];

			var layout = {
			  height: 400,
			  width: 500
			};

			Plotly.newPlot('myDiv', data, layout);
	 {% endif %}
	 
	 {% if plot == 'snow' %}
			var trace1 = {
			  x:  {{ data.x|tojson|safe }},
			  y:  {{ data.y|tojson|safe }},
			  type: 'scatter'
			};
		var data = [trace1];
		
			var layout = {
			  height: 500,
			  width: 800
			};

			Plotly.newPlot('myDiv', data, layout);
	 {% endif %}
	  </script>
</html>